@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Martian+Mono");
body {
    --background-dark: #272727;
    --background-light: #ebebeb;
    --background-white: #f8f8f8;
    --primary: #e26117;
    --primary-darker: #c94f08;
    --text-darker: #313131;
    --text-lighter: #999999;
    margin: 0px;
    padding: 0px;
    color: var(--text-darker);
    background-color: var(--background-dark);
    background-image: url("/img/background.png");
    background-attachment: fixed;
    background-size: 80px;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}
a {
    color: var(--primary-darker);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}